.ddsmoothmenu-v ul{

}
 
.ddsmoothmenu-v ul li{
position: relative;
float: none;
}

/* Top level menu links style */
.ddsmoothmenu-v ul li a{
display: block;
overflow: auto; /*force hasLayout in IE7 */
text-decoration: none;
}

.ddsmoothmenu-v ul li a:link, .ddsmoothmenu-v ul li a:visited, .ddsmoothmenu-v ul li a:active{
}


.ddsmoothmenu-v ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color:#FFF!important;
}

.ddsmoothmenu-v ul li a:hover{
	/*background:#725F58;
	color:#FFF;*/
}

/*Sub level menu items */
.ddsmoothmenu-v ul li ul{
position: absolute;
width: 200px; /*Sub Menu Items width */
top: 0;
font-weight: normal;
visibility: hidden;
background:url(../../images/bg_subnav.png) repeat left top;
}

 
/* Holly Hack for IE \*/
* html .ddsmoothmenu-v ul li { float: left; height: 1%; }
* html .ddsmoothmenu-v ul li a { height: 1%; }
/* End */