.menu-simple-tab 
{
	margin: 10px 0px 20px 0px;
	padding: 0;
	float: left;
	width: 100%;
}
.menu-simple-tab ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
.menu-simple-tab ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	background: #e0e0e0;
	overflow: hidden;
	position: relative;
}
.menu-simple-tab ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 13px;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}
.menu-simple-tab ul.tabs li a:hover {
	background: #ccc;
}	
html .menu-simple-tab ul.tabs li.active, html .menu-simple-tab ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}
.menu-simple-tab .tab_container {
	border: 1px solid #999;
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
	background: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
.menu-simple-tab .tab_content {
	padding: 10px;
	font-size: 13px;
}
.menu-simple-tab .tab_content h2 {
	font-weight: normal;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #ddd;
	font-size: 1.8em;
}
.menu-simple-tab .tab_content h3 a{
	color: #254588;
}
.menu-simple-tab .tab_content table {
	border: 1px solid #B4B4B4;
	border-collapse: collapse;
}
.menu-simple-tab .tab_content table td,
.menu-simple-tab .tab_content table th{
	padding: 5px;
}
/*
.menu-simple-tab .tab_content img {
	float: left;
	margin: 0 20px 20px 0;
	border: 1px solid #ddd;
	padding: 5px;
}
*/